:root {
  --bg-dark: #030303;
  --white: #ffffff;
  --gold: #9d8665;
  --dark-red: #710707;
  --black: #000000;
  --font80: 80px;
  --font32: 32px;
  --font28: 28px;
  --font22: 22px;
  --font18: 18px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: 0.5s ease;
}

a:hover {
  color: var(--gold);
  transition: 0.5s ease;
}

a:visited {
  color: var(--gold);
}

.logo-icon:hover {
  filter: invert(58%) sepia(18%) saturate(640%) hue-rotate(356deg)
    brightness(90%) contrast(89%);
}

.section {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;
}

.container {
  max-width: 1480px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.dark-section {
  background-color: var(--bg-dark);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

header {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 75px;
}

.header-container {
  align-items: center;
  height: 50px;
}

.logo {
  align-items: center;
  width: 195px;
  height: 50px;
}

.logo-icon {
  background-image: url('../assets/svg/logo.svg');
  background-repeat: no-repeat;
  background-size: 49px 26px;
  width: 50px;
  height: 34px;
  padding-right: 28px;
}

.logo-title {
  font-family: 'Forum';
  text-transform: uppercase;
  font-size: var(--font28);
  line-height: 50px;
  letter-spacing: 5px;
  color: var(--white);
}

.ul-menu {
  width: 720px;
}

li {
  list-style: none;
  font-family: Roboto;
  font-weight: 200;
  font-size: var(--font22);
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--white);
}

.section-welcome {
  max-width: 1920px;
  margin: 0 auto;
  height: 750px;
  background-image: url('../assets/img/background-welcome.jpg');
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;
}

.welcome {
  padding-bottom: 0;
}

h1 {
  color: var(--white);
}

h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font80);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

h3,
p {
  margin: 0;
}

.h2-white {
  color: var(--white);
}

.h2-gold {
  color: var(--gold);
}

.container-welcome {
  height: 390px;
  padding-top: 113px;
}

.welcome-text {
  width: 445px;
  height: 33px;
  font-family: Roboto;
  font-weight: 300;
  font-size: var(--font28);
  line-height: 33px;
  letter-spacing: 2px;
  color: var(--white);
  margin-top: 26px;
  margin-bottom: 77px;
}

.welcome-button {
  width: 360px;
  height: 75px;
  background-color: var(--dark-red);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-button:hover {
  background-color: var(--gold);
}

.welcome-button-text {
  font-family: Roboto;
  font-weight: 200;
  font-size: var(--font22);
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--white);
}

.container-cards {
  flex-wrap: wrap;
  gap: 76px 60px;
  padding: 0;
  margin-top: 103px;
}

.card {
  display: block;
}

.card-image {
  width: 440px;
  height: 285px;
}

.card-title {
  margin-top: 21px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font32);
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
}

.underline-title-h2 {
  position: relative;
}

.underline-title-h2::after {
  content: '';
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-title {
  position: relative;
}

.underline-title:hover::after {
  width: 100%;
}

.underline-title::after {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
  transition: ease 0.5s;
}

.card-content {
  margin-top: 21px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: var(--font22);
  line-height: 26px;
  color: var(--black);
}

.card-content-small {
  font-size: var(--font18);
  line-height: 21px;
  margin-top: 10px;
}

.explore-content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
}

.explore-content-title {
  margin-bottom: 103px;
}

.explore-content-text {
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 26px;
}

.explore-image {
  max-width: 720px;
  max-height: 700px;
  margin-top: 16px;
}

.yellow-text {
  color: var(--gold);
}

.player-container {
  width: 1440px;
  height: 629px;
  margin-top: 15px;
  background-image: url(../assets/video/poster.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-screen {
  width: 200px;
  height: 200px;
  background-image: url(../assets/svg/play.svg);
  background-repeat: no-repeat;
  border: 10px var(--white) solid;
  border-radius: 50%;
  background-position: 67px center;
  transition: 0.2s ease;
}

.play-screen:hover {
  opacity: 0.75;
  transition: 0.4s ease;
}

.video-control-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
  width: 1440px;
  height: 85px;
}

.play-buttons {
  align-items: center;
  width: 159px;
  height: 30px;
}

.play-button {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s ease;
}

.play-button:hover {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(188deg)
    brightness(102%) contrast(103%);
  transition: 0.4s ease;
}

.back {
  background-image: url(../assets/svg/back.svg);
}

.play {
  background-image: url(../assets/svg/play-button.svg);
}

.forward {
  background-image: url(../assets/svg/forward.svg);
}

.volume {
  background-image: url(../assets/svg/volume.svg);
}

.fullscreen {
  background-image: url(../assets/svg/fullscreen.svg);
}

.video-content {
  margin-top: 35px;
}

.video-content-text {
  max-width: 720px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font22);
  line-height: 38px;
  display: flex;
  align-items: center;
  color: var(--black);
}

.tickets-container {
  margin-top: 103px;
}
.tickets-choice {
  width: 660px;
}

.tickets-img {
  width: 720px;
  height: 550px;
}

.tickets-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font28);
  line-height: 33px;
  color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
}

.ticket-radio {
  display: flex;
  margin-top: 50px;
}

.amount {
  text-align: end;
}

.ticket-choice {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font22);
  line-height: 26px;
  color: var(--white);
  margin-left: 15px;
}

.tickets-choice-age {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font22);
  line-height: 26px;
  color: var(--white);
  margin-top: 12px;
  margin-bottom: 13px;
}

.button-border {
  width: 150px;
  height: 50px;
  border: 3px solid var(--white);
  box-sizing: border-box;
  border-radius: 0px;
  margin-bottom: 36px;
}

.number {
  all: unset;
  width: 3em;
  text-align: center;
  font-size: var(--font22);
  line-height: 26px;
  color: var(--white);
}

.amount-total {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font28);
  line-height: 33px;
  letter-spacing: 1.65px;
  color: var(--white);
  margin-top: 50px;
}
.button-buy {
  display: block;
  width: 175px;
  height: 50px;
  background-color: var(--white);
  border-radius: 2px;
}

.button-buy-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font22);
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--black);
  margin-top: 50px;
}

.contacts {
  margin-top: 103px;
}

.contacts-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font28);
  line-height: 34px;
  margin-top: 9px;
  margin-bottom: 37px;
}

.contacts-content-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font22);
  line-height: 26px;
  margin-bottom: 20px;
}

.contacts-png {
  display: block;
  width: 960px;
  height: 620px;
}

.footer {
  height: 300px;
}

.footer-container {
  display: flex;
}

.menu-footer {
  margin-right: 400px;
}

.ul-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 366px;
  height: 150px;
  margin-top: 0;
  margin-right: 62px;
  padding-left: 145px;
}

.li-footer {
  margin-right: 150px;
}

.ul-social {
  width: 336px;
  padding-bottom: 16px;
  align-self: flex-end;
}

.social {
  display: flex;
  align-content: center;
}

.circle {
  width: 46px;
  height: 46px;
  border: 1px var(--white) solid;
  text-align: center;
  border-radius: 50%;
}

.social-icon:hover {
  filter: invert(57%) sepia(28%) saturate(397%) hue-rotate(356deg)
    brightness(89%) contrast(92%);
}

/*
input {
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: none;
  }
}
*/
