* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/de-jesus-benitez-kEgJVDkQkbU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
  transition: 0.5s;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.border {
  width: 370px;
  height: 370px;
  background-color: #b8b8b8;
  opacity: 30%;
  border-radius: 50%;
  align-self: center;
}

.arrow-left,
.arrow-right {
  width: 80px;
  height: 80px;
  align-self: center;
  cursor: pointer;
  opacity: 25%;
  padding-right: 10px;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-left {
  background-image: url(/img/arrow-left.png);
}

.arrow-right {
  background-image: url(/img/arrow-right.png);
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 40%;
}

.digital-clock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  min-height: 12%;
  font-size: 50px;
  font-weight: bold;
  opacity: 80%;
  margin: 30px;
}
