* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/de-jesus-benitez-kEgJVDkQkbU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.clock-bg {
  position: relative;
  width: 370px;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 50%;
}

.hand {
  position: absolute;
  left: 50%;
  height: 50%;
  width: 5px;
  transform-origin: 0 100%;
  transform: rotate(100deg);
  transition: all 0.3s;
}

.hours,
.minutes {
  background-color: #000000;
}

.seconds {
  background-color: #ff0000;
  width: 3px;
}

.center {
  background-color: #ff0000;
}

.hours {
  width: 6px;
  height: 29%;
  top: 20%;
  transform-origin: 30% 100%;
  transform: rotate(10deg);
}

.center {
  position: absolute;
  left: 178px;
  top: 178px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.arrow-left,
.arrow-right {
  width: 80px;
  height: 80px;
  align-self: center;
  cursor: pointer;
  opacity: 25%;
  padding-right: 10px;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-left {
  background-image: url(/img/arrow-left.png);
}

.arrow-right {
  background-image: url(/img/arrow-right.png);
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 40%;
}

.digital-clock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  min-height: 12%;
  font-weight: bold;
  opacity: 80%;
  margin: 30px;
}

.digital-time {
  font-size: 110px;
}

.digital-date {
  font-size: 70px;
}

.sound {
  width: 4%;
  height: 15%;
  margin-top: 25px;
  cursor: pointer;
}
